@model IEnumerable<TemplateMaterialDesignAdmin.Models.DealMaker.DealMaker>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h1>Lista de Deal Makers</h1>

                <button class="btn bg-greenNew btn-flat right" asp-action="Index" asp-controller="DadoPesoal">Inserir Novo</button>
                <br />
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DadosSociais.NomeCompleto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DadosSociais.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DadosSociais.DDDTelefonePessoal)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DadosSociais.TelefonePessoal)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DadosSociais.DataNascimento)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DadosSociais.NomeCompleto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DadosSociais.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DadosSociais.DDDTelefonePessoal)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DadosSociais.TelefonePessoal)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DadosSociais.DataNascimento)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Detalhes", "Details", new { /* id=item.PrimaryKey */ })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>